@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.header,
.footer,
.container .content1,
.container .content2 {
  width: 1360px;
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: right;

  position: relative;
}
.logo {
  position: absolute;
  top: 208px;
}
.sub_title {
  display: flex;
  justify-content: right;
  margin-left: 360px;
  margin-top: 178px;
  width: 1000px;
  border-bottom: 7px solid #000;
}
.sub_title p {
  margin-left: 174px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 16px;
  line-height: 33px;
  color: #000;
}
/* 슬라이드 */
.slider {
  margin-bottom: 300px;
}
.slide_01 .item {
  /* width: 1920px; */
  height: 1320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide_01 .item.item_01 {
  background-image: url('../img/main1.png');
}
.slide_01 .item.item_02 {
  background-image: url('../img/main2.png');
}
.slide_01 .item.item_03 {
  background-image: url('../img/main1.png');
}
.slide_01 .slick-dots {
  bottom: -50px;
}

.slide_01 .slick-dots li {
  width: initial;
}
.slide_01 .slick-dots li button {
  background-color: #fee800;
  width: 30px;
  height: 25px;
  border-radius: 25px;
  opacity: 0.2;
  transition: width 0.3s;
}
.slide_01 .slick-dots li button::before {
  display: none;
}
.slide_01 .slick-dots li.slick-active button {
  opacity: 0.7;
  width: 60px;
}
.container .content1 h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}
.container .content1 h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 210px;
}
.container .content1 h1 span,
.container .content1 h2 span {
  font-weight: 700;
  color: #000000;
}
.container .content2 {
  position: relative;
}
.container h3 {
  position: absolute;
  top: -170px;
  left: 0;
  font-weight: 900;
  font-size: 110px;
  line-height: 160px;
  color: #000000;
  z-index: 1;
}
.container h4 {
  position: absolute;
  top: 150px;
  left: 0;
  margin-top: 62px;
  font-weight: 300;
  font-size: 31px;
  line-height: 42px;
  color: #fff;
  letter-spacing: 0.05em;
  z-index: 1;
}
.footer p {
  margin-bottom: 20px;
}
.footer .social {
  display: flex;
  height: 70px;
  border-top: 4px solid rgb(90, 90, 90);
  justify-content: center;
}
.social img {
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 100px;
}

/* 두번째페이지 */
.container1 .content1 {
}
.container1 .box1 {
  width: 1124px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* margin-left: 118px; */
  margin-top: 210px;
}
.container1 .content1 .box1 .text_box {
  width: 562px;
  height: 562px;
  border: 1px solid #000;
}
.container1 .content1 .box1 .img_box {
  width: 562px;
  height: 562px;
  border: none;
}
.container1 .content1 .box1 .text_box h1 {
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  margin-top: 110px;
  margin-left: 65px;
}
.container1 .content1 .box1 .text_box p {
  font-weight: 600;
  font-size: 23px;
  line-height: 31px;
  margin-top: 60px;
  margin-left: 65px;
  color: #636363;
}
.container1 .box2 {
  width: 1124px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 90px;
}
.container1 .content1 .box2 h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 75px;

  margin-right: 170px;
}
.container1 .box2 button {
  margin-top: 20px;
  width: 250px;
  height: 70px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  background: #fee800;
  border: none;
}
.container1 .content1 .box2 h2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;
}
.container1 h5 {
  font-weight: 600;
  font-size: 36px;
  line-height: 75px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 140px;
  text-align: center;
}
.container1 .content2 {
  width: 1124px;
  margin: 0 auto;
  align-items: center;
}
.container1 .scroll_box {
  width: 662px;
  height: 1120px;
  background-color: #fff;
  /* overflow-y: scroll; */
  overflow: auto;
}
.container1 .inner_content {
  height: 250px;
}
.scroll_box::-webkit-scrollbar {
  width: 6px;
}
.scroll_box::-webkit-scrollbar-track {
  background-color: #fee800;
}

.scroll_box::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #000;
}

.scroll_box::-webkit-scrollbar-button {
  width: 0px;
  height: 20px;
}
